.main-header {
  width: 100vw;
  height: 45px;
  line-height: 45px;
  background: white;
  color: black;
  text-align: center;
  font-size: 14px;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid #f2f2f2;

  &-back {
    float: left;
    height: 40px;
    width: 45px;
    margin-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &-button {
    float: right;
    margin-right: 10px;
    height: 40px;
    width: 60px;
    margin-top: 2px;
    border-radius: 5px;
    background: #f2f2f2;
    color: #a2a2a2;
    border: 1px solid #a2a2a2;
  }
}

.video-container {
  background: white;
  margin-top: 45px;
  position: relative;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  .video-item {
    width: 100%;
    height: auto;
  }

  .video-title {
    float: left;
    padding: 10px 10px 10px 20px;
  }

  .video-pan {
    float: left;
    width: 100%;
    padding: 10px 0 10px 0;
    height: 30px;
    border-bottom: 1px solid #f2f2f2;
  }

  .video-time {
    float: left;
    padding-left: 20px;
  }

  .video-comment {
    float: right;
    padding-right: 20px;
  }
}

.publish-container {
  background: white;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  .publish-item {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f2f2f2;
  }

  .publish-img-div {
    float: left;
    width: 60px;
    line-height: 60px;
  }

  .publish-img {
    margin-left: 10px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    vertical-align: middle;
  }

  .publish-content {
    height: auto;
    width: calc(100% - 60px);
    margin-left: 60px;
    margin-right: 10px;
  }
  .publish-user {
    padding: 10px 0 0 10px;
    text-align: left;
    color: #11AEE5;
  }

  .publish-title {
    height: auto;
    text-align: left;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
  }

  .publish-pic {
    width: 95%;
    height: auto;
  }

  .publish-footer {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .publish-date {
    margin-left: 10px;
  }

  .publish-comment {
    float: right;
    margin-right: 10px;
    vertical-align: center;
    height: 20px;
    width: 20px;
  }

  .publish-header {
    width: 100%;
    height: 240px;
    &-bg {
      width: 100%;
      height: 220px
    }
    &-camera {
      width: 40px;
      height: 40px;
      top: 10px;
      position: absolute;
      right: 10px;
      border-radius: 5px;
    }
    &-head {
      width: 50px;
      height: 50px;
      top: 180px;
      position: absolute;
      right: 10px;
      border-radius: 5px;
    }
    &-name {
      height: 50px;
      top: 180px;
      position: absolute;
      right: 70px;
      line-height: 50px;
      text-align: center;
      color: white;
      font-size: 16px;
    }
  }

  .publish-comment-details {
    background: #f2f2f2;
    margin-bottom: 10px;
    margin-right: 10px;

    &-item {
      margin-left: 5px;
    }
    &-name {
      color: #11AEE5;
      font-size: 14px;
    }
    &-text {
      font-size: 14px;
    }
  }

}

.publish-input {
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 20;
  width: 100%;
  background: #f2f2f2;

  &-input {
    height: 40px;
    width: 70%;
    margin-top: 5px;
    border: none;
    font-size: 14px;
  }

  &-button {
    right: 10px;
    width: 20%;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    background: #f2f2f2;
    color: #a2a2a2;
    border: 1px solid #a2a2a2;
  }

  &-button-data {
    background: #04be02;
    color: white;
    border: none;
  }
}




